{% extends "base.html" %}

{% block content %}
    <div class= "container">
        <div class= "contentBox" style= "text-align: center">
            <h3>Quiz:</h3>
            <form action="" method="post">
                {% for q in data %}
                    <p><b>Question:</b> {{ q }}</p>
                    <textarea name='answer' placeholder="Write your answer here..." class= "answerBox"></textarea>
                    <hr>
                {% endfor %}
                    <br>
                    <input type="submit" class="btn btn-light" onclick="NotifyUser('Answers Saved')" value="Save Answers">
					<a href="{{ url_for('quiz') }}" class="btn btn-light">Done</a>
            </form>
        </div>
    </div>
{% endblock %}
