{% extends "base.html" %}

{% block content %}
	<script>SetCurrentPage('Questions')</script>
	<div class= "container">
			<div class="alert alert-secondary alert-dismissible" role="alert">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<p><i class="fas fa-info-circle"></i> View and manage existing questions sets here!</p>
			<p>Click on <b>View</b> besides a Set Name to view the questions in the set. </p>
			<b>Related Actions:</b>
			<ul>
			<li><a href="{{ url_for('addQuestions') }}">Create a New Question</a></li>
			</ul>
			</div>
	</div>
	<div class= "container">
			<div class= "contentBox">
						<h1 id="testquestion">Manage Questions</h1>
				    <p>Number of existing question sets: {{ length }}.</p>
				    <table class= "tableStyle">
				        <tr>
				            <th class= "tableColumnStyle"><b>Set Name</b></th>
				            <th class= "tableColumnStyle"><b>View Set Questions</b></th>
				            <th class= "tableColumnStyle"><b>Delete Set</b></th>
				        </tr>
				        {% for q in data %}
				        <tr>
				            <td class= "tableColumnStyle">{{ q }}</td>
				            <td class= "tableColumnStyle"><a class="btn btn-danger btn-xs" href="/allquestions/{{ q }}">View</a></td>
				            <td class= "tableColumnStyle"><a class="btn btn-danger btn-xs" href="/deleteQuestionSet/{{ q }}">Delete</a></td>
				        </tr>
				        {% endfor %}
				    </table>
			</div>
	</div>

{% endblock %}
